<div class="container">
<div class="row">
    <h1 id="bg" style="color:darkslategray">Estimated Calorie Needs per Day by Age, Sex, and Physical Activity Level</h1>

    <div class="col-md-6">
        <table class="table table-bordered table-striped">
            <caption>MALE</caption>
            <thead>
           <tr>
            <th>
                AGE
            </th>
            <th>
                Sedentary
            </th>
            <th>
                Moderately Active
            </th>
            <th>
                Active
            </th>
           </tr>
          </thead>
          <tbody>
            <tr>
                <td>19-20</td>
                <td>2,600</td>
                <td>2,800</td>
                <td>3,000</td>
            </tr>
            <tr>
                <td>21-25</td>
                <td>2,400</td>
                <td>2,800</td>
                <td>3,000</td>
            </tr>
            <tr>
                <td>26-30</td>
                <td>2,400</td>
                <td>2,600</td>
                <td>3,000</td>
            </tr>
            <tr>
                <td>31-35</td>
                <td>2,400</td>
                <td>2,600</td>
                <td>3,000</td>
            </tr>
          </tbody>
        </table>
    </div>
    <div class="col-md-6">
      <table class="table table-bordered table-striped">
            <caption>FEMALE</caption>
        <thead>
            <tr>
             <th>
                 AGE
             </th>
             <th>
                 Sedentary
             </th>
             <th>
                 Moderately Active
             </th>
             <th>
                 Active
             </th>
            </tr>
          </thead>
          <tbody>
             <tr>
                 <td>19-20</td>
                 <td>2,000</td>
                 <td>2,200</td>
                 <td>2,400</td>
             </tr>
             <tr>
                 <td>21-25</td>
                 <td>2,000</td>
                 <td>2,200</td>
                 <td>2,400</td>
             </tr>
             <tr>
                <td>26-30</td>
                <td>1,800</td>
                <td>2,000</td>
                <td>2,400</td>
            </tr>
            <tr>
                <td>31-35</td>
                <td>1,800</td>
                <td>2,000</td>
                <td>2,200</td>
            </tr>
          </tbody>
         </table>
    </div>
    <h2 class="text-success">
        The total number of calories a person needs each day varies depending on a number of
         factors including the person’s:</h2>
         <ul id="bg">
           <li>Age   </li>
           <li>  Sex </li>
           <li>  Height </li>
           <li>  Weight </li>
           <li>  Level of physical
            activity </li>
         </ul>

         <h3>In addition, a need to lose, maintain, or gain weight and other factors
          affect how many calories should be consumed. Estimated amounts of calories needed
           to maintain calorie balance for various age and sex groups at three different
           levels of physical activity are provided in Table.</h3>

</div>
</div>
